@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.contact {
    background-color: #000033;
    height: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contact_title {
    padding-top: 120px;
    padding-left: 80px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    /* margin-bottom: 100px; */
    color:white;
}

.contact_form {
    height: 700px;
    width: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 130px 100px 100px 100px;
    text-align: center;
}

.form_item {
    margin-bottom: 34px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.form_btn {
    margin-top: 100px;
}