@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.main_text{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; 
    font-size: 150px;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    padding-top: 350px;
    padding-right: 50px;
    text-shadow: 2px 2px 2px gray; 
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main1 {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.main1_title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}

.main1_item_content{
    font-family: 'Nanum Gothic', sans-serif;
    margin-right: 14px;
}

.main1_gird_Pitem {
    align-items: center;
    display: flex;
}

.main1_grid_item{
   margin: 0 auto;
   text-align: center;
}

.main2{
    background-color: white;
    width: 100%;
    height: 400px;
    text-align: center;
}

.main2_icon {
    color: black;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.main2_item_content{
    font-family: 'Gowun Dodum', sans-serif;
    margin-top: 20px;
    color: darkgray;
    font-size: 13px;
}