@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.projects {
    background-color: #000033;
    height: 900px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.projects_title {
    padding-top: 120px;
    padding-left: 80px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: white;
}


.projects_content {
    padding: 100px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 15px;
}

.projects_content::-webkit-scrollbar {
    height: 7px;
}

.projects_content::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 50px;
    border: 2px solid transparent;
    height: 10%;
}

.projects_content::-webkit-scrollbar-track {
    background-color: transparent;
}

.projects_card {
    margin: 0px 10px 0px 0px;
    height: 380px;
    width: 500px;
}

.projects_card_content {
    font-family: 'Nanum Gothic', sans-serif;
}