@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.resume {
    background-color: #000033;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.resume_title {
    padding-top: 120px;
    padding-left: 80px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: white;
}

.resume_item_year {
    text-align: right;
    font-weight: bold;
}

.resum_content {
    margin: 50px 0px 50px 0px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}