.footer {
    background-color: black;
    height: 200px;
}

.icon {
    color: white;
    font-size: 23px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}